.todos-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;


}

.list-container{
    padding: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container>div{
  display: flex;
}
.list-container :last-child{
    cursor: pointer;
    display: flex;
}
.list-container :first-child{
    display: flex;
    align-items: center;

}
.list-container div .status {
    flex-grow: 1;
    flex-basis: 10%;
}

.status{
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 10%;
}
.input-container{
    display: flex;
    gap: 10px;
}
.input-container button{
    background-color: rgb(35, 38, 38);
    border: none;
    border-radius: 5px;
    color: wheat;
    cursor: pointer;
}
.input-container input{
    width: 100%;
}
.text{
    padding: 10px;
}

.strike{
    text-decoration: line-through;
}